In [1]:
# !pip install apyori

In [2]:
from apyori import apriori

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('transactions.csv')

In [5]:
df.head()

   TID  Item1  Item2  Item3  Item4  Item5  Item6  Item7  Item8  Item9  Item10
0    1      1      1      0      1      0      0      1      1      1       1
1    2      1      0      1      1      0      0      0      1      0       1
2    3      0      0      1      1      0      0      1      1      0       1
3    4      1      0      1      1      0      0      0      0      1       1
4    5      1      0      1      0      0      0      0      0      0       1

In [6]:
df1 = df.drop(['TID'], axis=1)

In [7]:
df1.head()

   Item1  Item2  Item3  Item4  Item5  Item6  Item7  Item8  Item9  Item10
0      1      1      0      1      0      0      1      1      1       1
1      1      0      1      1      0      0      0      1      0       1
2      0      0      1      1      0      0      1      1      0       1
3      1      0      1      1      0      0      0      0      1       1
4      1      0      1      0      0      0      0      0      0       1

In [8]:
df1 = df1.where(df1 != 1, df1.columns.to_series(), axis=1)

In [9]:
df1.head()

   Item1  Item2  Item3  Item4 Item5 Item6  Item7  Item8  Item9  Item10
0  Item1  Item2      0  Item4     0     0  Item7  Item8  Item9  Item10
1  Item1      0  Item3  Item4     0     0      0  Item8      0  Item10
2      0      0  Item3  Item4     0     0  Item7  Item8      0  Item10
3  Item1      0  Item3  Item4     0     0      0      0  Item9  Item10
4  Item1      0  Item3      0     0     0      0      0      0  Item10

In [10]:
df1 = df1.where(df1 != 0, np.nan, axis=1)

In [11]:
df1.head()

   Item1  Item2  Item3  Item4 Item5 Item6  Item7  Item8  Item9  Item10
0  Item1  Item2    NaN  Item4   NaN   NaN  Item7  Item8  Item9  Item10
1  Item1    NaN  Item3  Item4   NaN   NaN    NaN  Item8    NaN  Item10
2    NaN    NaN  Item3  Item4   NaN   NaN  Item7  Item8    NaN  Item10
3  Item1    NaN  Item3  Item4   NaN   NaN    NaN    NaN  Item9  Item10
4  Item1    NaN  Item3    NaN   NaN   NaN    NaN    NaN    NaN  Item10

In [12]:
transactions = df1.stack().groupby(level=0).apply(list).tolist() #converting to list of lists

In [13]:
transactions[0]

['Item1', 'Item2', 'Item4', 'Item7', 'Item8', 'Item9', 'Item10']

Apriori

In [14]:
rules = apriori(transactions, min_support=0.03, min_confidence=0.7)

In [15]:
rules = list(rules)

In [16]:
rules[0]

RelationRecord(items=frozenset({'Item4', 'Item8'}), support=0.34, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Item8'}), items_add=frozenset({'Item4'}), confidence=0.7083333333333334, lift=1.1067708333333333)])

In [17]:
len(rules)

160

In [18]:
rules[:5]

[RelationRecord(items=frozenset({'Item4', 'Item8'}), support=0.34, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Item8'}), items_add=frozenset({'Item4'}), confidence=0.7083333333333334, lift=1.1067708333333333)]),
 RelationRecord(items=frozenset({'Item1', 'Item4', 'Item2'}), support=0.22, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Item1', 'Item2'}), items_add=frozenset({'Item4'}), confidence=0.7333333333333334, lift=1.1458333333333335)]),
 RelationRecord(items=frozenset({'Item1', 'Item8', 'Item4'}), support=0.2, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Item1', 'Item8'}), items_add=frozenset({'Item4'}), confidence=0.7692307692307693, lift=1.2019230769230769)]),
 RelationRecord(items=frozenset({'Item1', 'Item6', 'Item7'}), support=0.14, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Item6', 'Item7'}), items_add=frozenset({'Item1'}), confidence=0.7000000000000001, lift=1.25)]),
 RelationRecord(items=frozenset({'Item10', 'Item5', 'Item2'}), support=0.08, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Item10', 'Item5'}), items_add=frozenset({'Item2'}), confidence=0.7999999999999999, lift=1.4285714285714284)])]

In [19]:
df_rules = pd.DataFrame(rules)

Frequent Itemsets

In [20]:
df_rules[['items', 'support']].head()

                    items  support
0          (Item4, Item8)     0.34
1   (Item1, Item4, Item2)     0.22
2   (Item1, Item8, Item4)     0.20
3   (Item1, Item6, Item7)     0.14
4  (Item10, Item5, Item2)     0.08

Association Rules

In [21]:
pd.DataFrame(df_rules['ordered_statistics']).head()

                                  ordered_statistics
0  [((Item8), (Item4), 0.7083333333333334, 1.1067...
1  [((Item1, Item2), (Item4), 0.7333333333333334,...
2  [((Item1, Item8), (Item4), 0.7692307692307693,...
3  [((Item6, Item7), (Item1), 0.7000000000000001,...
4  [((Item10, Item5), (Item2), 0.7999999999999999...